{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "sidebar.html" .}}

<div class="span10">
	<p>Issam Zeibak. </p>
	<br/>
	<p>Music. Dev. Awesome.</p>
	<br/>
	<p>You can dork along my life with the following:</p>
	<br/>
	<p>
	  <a href="https://github.com/slamice"><img src="/public/images/about/github.png"/></a>
	  <a href="http://www.linkedin.com/in/issamzeibak"><img src="/public/images/about/linkedin.png"/></a>
	  <a href="http://www.twitter.com/susnote/"><img src="/public/images/about/twitter.png"/></a>
	</p>

	<h6>This blog uses <a href="http://www.ironzebra.com/">Herman Schaaf</a>'s awesome <a href='https://github.com/hermanschaaf/ironzebra'>IronZebra Project</a>.</h6>
</div>

{{template "footer.html" .}}