{{set . "title" "Fever Of Time"}}
{{template "header.html" .}}
</head>
{{set . "postTitle" "Fever Of Time"}}
{{template "base.html" .}}
                <h1>Fever Of Time<h5>Whatever that means, I'm feeling it ._.</h5></h1>

                <p>My name is Issam. Musician. Dev and support @ <a href="http://www.gengo.com">Gengo</a>. I put down my thoughts and musings here.</p>
                <p>I use these social apparatuses:</p>

                <a href="/"><img alt="Github" src="/public/assets/github.png"></a>
                <a href="/"><img alt="Linkedin" src="/public/assets/linkedin.png"></a>
                <a href="/"><img alt="Twitter" src="/public/assets/twitter.png"></a>

        <br/>
                <div class="right">
                    <h3><a href="{{url "Blog.List" }}" title="I write fiction, events, coding and travel...">My blog...</a></h3>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
