{{set . "title" "Fever Of Time"}}
{{template "header.html" .}}
</head>
{{set . "postTitle" "Fever Of Time"}}
{{template "base.html" .}}
                <h1>Fever Of Time<h5>It just makes sense</h5></h1>

                <p>My name is Issam. Musician. Dev and support @ <a href="www.gengo.com">Gengo</a>. I put down my thoughts and musings here.</p>
                <p>I use these social apparatuses:</p>

                <a href="/"><img alt="Github" src="/public/images/github.png"></a>
                <a href="/"><img alt="Linkedin" src="/public/images/linkedin.png"></a>
                <a href="/"><img alt="Twitter" src="/public/images/twitter.png"></a>


 <h2> <a href="{{url "Blog.List" }}" title="I write fiction, events, coding and travel...">My thoughts...</a></h2>

                {{if .result.ShortID}}<p><b>BUT</b> I was recently thinking about... <a href="{{url "Blog.Show" .result.Category .result.ShortID .result.Slug }}">{{.result.Title}}</a></p>{{end}}
            </div>
        </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
