{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "sidebar.html" .}}

<div class="span10">

<a href="/public/images/music/naturally.zip" target="_blank"><img src="/public/images/music/narwhal.jpg" alt="Narwhal - ...naturally" style="padding-right:20px;padding-left:5px;height:100px; width:100px;position:relative;
float:left;"/></a>

<p><b>Narwhal - </b><a href="/public/images/music/naturally.zip" target="_blank">... naturally</a></p>

<p>The band was (and still is?!) a band from Vancouver playing epic arctic rock. This is the 1st album, unmastered... In all its raw, true, ethereal, serenity.
<br/><br/>
Narwhal was the narwhal (of course), myself and awesome <a href="http://selinastarr.tumblr.com">Selina</a>.
<br/><br/>
Selina is now in <a href="http://movieland.bandcamp.com/">Movieland</a>, among other bands.

<br/><br/>

</div>

{{template "footer.html" .}}
