<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">

    <div class="title space">
      <h1>Fever Of Time
        <a href="http://feeds.feedburner.com/feveroftime"><img src="/public/images/about/rss.png"/></a>
      </h1>
      <h5>Because it just makes sense ._.</h5>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/"><b>B</b>log</a></li>
      <li><a href="/music"><b>M</b>usic</a></li>
      <li><a href="/about"><b>A</b>bout</a></li>
      <li><h6>Content by Issam Zeibak 2014 - ∞</h6></li>
    </ul>
  </div>

  <!-- Page content -->
  <div id="page-content-wrapper">

    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
